.header {
  padding: 0 25px 0 25px;
  height: 65px;
}
.header-wrapper {
  border: none;
}
.header__menu-item > span {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #5b5b5f;
}
.list-menu.list-menu--inline li:last-child {
  border-left: 2px solid #b92c32;
  height: 27px;
  margin-top: 10px;
}
.list-menu.list-menu--inline > li:last-child > header-menu > details {
  margin-top: -10px;
}