.multi-banner--image {
  max-width: 1440px;
  margin: 0 auto;
}

.multi-banner--image .banner__box {
  background: transparent;
}

.multi-banner--image .banner__content.banner__content--middle-center {
  justify-content: flex-start;
}

.multi-banner--image .banner__box-right {
  margin-left: 270px;
}

.multi-banner--image .banner__media-half:first-child img {
  padding: 14px 7px 14px 14px;
}

.multi-banner--image .banner__media-half:nth-child(2) img {
  padding: 14px 14px 14px 7px;
}

.multi-banner--image .button::after {
  box-shadow: none;
}
