.rich-text-home1  {
  
}

.rich-text__buttons--multiple .button {
  width: 144px;
  height: 36px;
  font-weight: 400;
  font-size: 16px;
  border-radius: 5px;
  border: 0.5px solid #5B5B5F;
}

.rich-text__buttons--multiple .button::hover .rich-text__buttons--multiple .button:before, .rich-text__buttons--multiple .button:after {
  box-shadow: none;
}

.rich-text__buttons--multiple .button:before, .rich-text__buttons--multiple .button:after {
  box-shadow: none;
}

.rich-text__buttons--multiple .button--primary {
  background: #5B5B5F;
}